{{>header}}

<div class="main-content">
    <p>This app was created by {{name}}. It uses data from mapbox.com and weatherstack to get weather details at the desired location.</p>
    <img class = "portrait" src="img/yasha.jpg" alt="">
    
</div>
    


{{>footer}}