

{{>header}}
<div class="main-content">
    <p>Use this to get your weather!</p>
    <form action="">
        <input type="text" placeholder="Location">
        <button>Search</button>

    </form>
    <div class = "weather-info">
        
        <h3 class = 'message1'></h3>
        <img class= 'weather-icon' src="" alt="">
        <p class = 'message2'></p>
        <p class='weather-desc'></p>
        <p class = 'wind-speed'></p>  
    </div>
    

    
</div>
    
<script src="js/app.js"></script>
{{>footer}}

